@use "mixins";

.layout--skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #040404;

  @include mixins.respSpecif(800) {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
}

.container-skills {
  display: flex;
  justify-content: center;
  width: 100%;

  @include mixins.respSpecif(800) {
    flex-direction: column;
    align-items: center;
  }

  @include mixins.respSpecif(500) {
    display: block;
  }
}

.tittle-mob {
  display: none;
  text-align: center;
  color: gainsboro;
  margin-top: 20px;

  @include mixins.respSpecif(800) {
    display: block;
  }

  .tittle {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 50px;
  }
}

.karate-image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 80px;

  @include mixins.respSpecif(800) {
    flex-direction: row;
    padding-right: 0px;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
  }

  @include mixins.respSpecif(400) {
    padding: 0px;
  }

  .karate {
    width: 250px;
    padding-bottom: 15px;
    object-fit: cover;

    @include mixins.respSpecif(800) {
      margin-right: 20px;
    }

    @include mixins.respSpecif(400) {
      width: 200px;
    }
  }

  .tittle-desktop {
    text-align: center;
    color: gainsboro;

    @include mixins.respSpecif(800) {
      display: none;
    }

    .tittle {
      font-size: 1.4rem;
      font-weight: bold;
      padding-bottom: 50px;
    }
  }
}

.table {
  padding: 50px 70px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  @include mixins.respSpecif(800) {
    margin: 0 20px;
  }

  @include mixins.respSpecif(400) {
    padding: 25px 45px;
  }

  .rank {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 0;

    .icon {
      width: 30px;
      height: 30px;
      margin: 8px 20px 8px 0;
      vertical-align: middle;
    }

    .belt-icon {
      position: relative;
      width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      animation: fadein 1s;

      .bar {
        position: absolute;
        top: 18px;
        width: 200px;
        height: 10px;
        background-color: inherit;

        @include mixins.respSpecif(800) {
          width: 180px;
        }

        @include mixins.respSpecif(400) {
          width: 160px;
        }
      }

      .knot-wrap {
        position: absolute;
        top: 16px;
        width: 20px;
        height: 14px;
        background-color: inherit;
        transform: skewX(-20deg);
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        z-index: 3;
      }

      .tail {
        position: absolute;
        top: 28px;
        height: 24px;
        background-color: inherit;
        z-index: 2;
      }

      .tail-l {
        left: calc(50% - 12px);
        transform: rotate(20deg);
        width: 10px;
      }

      .tail-r {
        right: calc(50% - 10px);
        transform: rotate(-20deg);
        border-left: 2px solid #000000;
        width: 11px;
      }

      &.w {
        .bar {
          background-color: #f5f5f5;
        }
        .knot-wrap {
          background-color: #f5f5f5;
          border-color: #e0e0e0;
        }
        .tail {
          background-color: #f5f5f5;
        }
        .tail-l {
          border-top-color: #e0e0e0;
        }
        .tail-r {
          border-top-color: #e0e0e0;
          border-left-color: #e0e0e0;
        }
      }

      &.y {
        .bar {
          background-color: #ae9513;
        }
        .knot-wrap {
          background-color: #ae9513;
        }
        .tail {
          background-color: #ae9513;
        }
      }

      &.o {
        .bar {
          background-color: #a85d03;
        }
        .knot-wrap {
          background-color: #a85d03;
        }
        .tail {
          background-color: #a85d03;
        }
      }

      &.g {
        .bar {
          background-color: #0a500a;
        }
        .knot-wrap {
          background-color: #0a500a;
        }
        .tail {
          background-color: #0a500a;
        }
      }

      &.b {
        .bar {
          background-color: #0000b2;
        }
        .knot-wrap {
          background-color: #0000b2;
        }
        .tail {
          background-color: #0000b2;
        }
      }

      &.br {
        .bar {
          background-color: #472309;
        }
        .knot-wrap {
          background-color: #472309;
        }
        .tail {
          background-color: #472309;
        }
      }

      &.k {
        .bar {
          background-color: #212121;
        }
        .knot-wrap {
          background-color: #212121;
        }
        .tail {
          background-color: #212121;
        }
      }
    }
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
