@use "mixins";
@use "navbar";
@use "scroll-animation";
@use "portfolio";
@use "skills";
@use "job";
@use "contact";
@use "footer";

/*-----SCROLL TO TOP -----*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 50px;

  @include mixins.respSpecif(700) {
    left: 20px;
    right: 30px;
  }

  @include mixins.respSpecif(500) {
    height: 40px;
    width: 40px;
    padding: 5px;
    bottom: 30px;
    font-size: 0.9rem;
  }
}

#myBtn:hover {
  background-color: #555;
}
